.upper__body{
position: relative;
width: 620px;
height: 160px;
/* left: 236.32px;
top: 55.25px; */
flex-direction: column;
padding-left:20px;
/* Grey */

background: #F5F5F7;
border-radius: 14px;
display:flex;
margin-left: 10em;
margin-top: 3em;


}

.upper__body>h1{
    /* H1 */
    
 
}

.upper__body1{
/* position: relative; */
width: 500.26px;
height: 80px;
/* left: 236px;
top: 125.34px; */
margin-left: 10em;
margin-top: 2em;

/* Grey */

background: #F5F5F7;
border-radius: 14px;
display:flex;
justify-content: space-around;
align-items: center;
}

.filter-area{

    margin-left: 10em;
}

a.filters {
    margin-right: 1em;
    font-size: bold;
    font-weight: 500;
    text-decoration: none;
    color: black;
}